<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/cmd/static/styles.css" />
    <title>Hello, world!</title>
</head>
<body>
<main role="main" class="container">
    <div class="starter-template">
        <h1>Hello from {{index . "name"}}</h1>
        <p class="lead">
            Use this document as a way to quickly start any new
            project.<br />
            All you get is this text and a mostly barebones HTML
            document.
        </p>
    </div>
</main>
<!-- /.container -->
</body>
</html>